{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block content %}
    <section class="py-5 mt-5 text-center container">
        <div>
            <div>
                <h1 class="fw-light">Notes</h1>
                <p class="lead text-muted">This is a Note Keeping App</p>
                <p>
                    <a href="#" class="my-2 btn btn-primary">Create Acoount</a>
                    <a href="#" class="my-2 btn btn-secondary">Login</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}