{% extends 'base.html' %}

{% block title %} Bye Bye!!{% endblock %}

{% block content %}
    <section class="container py-5 mt-5 text-center">
        <div>
            <div>
                <h1 class="fw-light">You Have Logged out.</h1>
                <p class="lead text-muted">Thank you for spending time with us.</p>
                <p>
                    <a href="{% url 'notes:login' %}" class="btn btn-secondary my-4">Login</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}